<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Music list</h1>
    <p>Enter singer name</p>
    <form method="GET" action="/music/singer">
      <input type="text" name="singer">
      <button type="submit">
        Enter
      </button>
      
    </form>
  </body>
</html>
